/* .invalid-data {
  label {
    color: red;
  }
  .form-control {
    border-color: red;
  }
  .invalid-message {
    font-size: 15px;
    display: block;
    margin-top: 3px;
    color: red;
  }
  .ng-select-container {
    border-color: red;
  }
  .date-select {
    border: 1px solid red;
  }
} */

.invalid-data {
  color: red !important;
}

.invalid-input {
  border: 1px solid red;
}
.invalid-message {
  color: red;
  display: block !important;
  font-size: 12px;
}
