.modal-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0px 1px #fff inset;
}
.modal-header Button:hover {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.modal-body {
  box-shadow: 0 1px 0 #fff inset;
  padding-bottom: 0;
}

.modal-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff inset;
}
